MYSQL_ROOT_PASSWORD=
ACCOUNT_DB_PASSWORD=
MARKETPLACE_DB_PASSWORD=
TRADING_DB_PASSWORD=
GOVERNANCE_DB_PASSWORD=
REDIS_PASSWORD=
RABBITMQ_USERNAME=campus
RABBITMQ_PASSWORD=
INTERNAL_SERVICE_TOKEN=
INTERNAL_JWT_SECRET=
VERIFICATION_PEPPER=
CORS_ORIGINS=http://localhost
SESSION_COOKIE_SECURE=false
WEB_PORT=80
MAIL_ENABLED=false
MAIL_HOST=smtpdm.aliyun.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_SMTP_AUTH=true
MAIL_SSL_ENABLED=true
MAIL_STARTTLS_ENABLED=false
MAIL_STARTTLS_REQUIRED=false
