MYSQL_ROOT_PASSWORD=generate-a-random-value
ACCOUNT_DB_PASSWORD=generate-a-different-account-password
MARKETPLACE_DB_PASSWORD=generate-a-different-marketplace-password
TRADING_DB_PASSWORD=generate-a-different-trading-password
GOVERNANCE_DB_PASSWORD=generate-a-different-governance-password
REDIS_PASSWORD=generate-a-random-redis-password
RABBITMQ_PASSWORD=generate-a-random-rabbitmq-password
VERIFICATION_PEPPER=generate-at-least-32-random-characters
INTERNAL_SERVICE_TOKEN=generate-an-internal-token
INTERNAL_JWT_SECRET=generate-an-internal-jwt-secret
MAIL_PASSWORD=ci
